@import "bootstrap/scss/bootstrap";

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    #qr {
        background-color: white;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

#qr {
    width: auto;
    max-width: 100%;
    height: 80%;
}

#options {
    text-align: center;
}

#export {
    align-items: center;
    justify-content: center;
}

.icon {
    aspect-ratio: 1;
    height: 100%;
    width: auto;
}